.join{
  margin: 0;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1350&q=80');
}

.join-wrapper{
  padding-top: 35vh;
  h1{
    color: white;
  }
}

.form.btn{
  background-color: #fa1897;
}